[submodule "paisa-web"]
	path = paisa-web
	url = https://github.com/deekshit-bhattarai/paisa-web.git
[submodule "paisa-server"]
	path = paisa-server
	url = https://github.com/deekshit-bhattarai/paisa-server.git
